<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Detail Review</title>
    <!--<link rel='stylesheet' href='/stylesheets/login.css'/>-->
    <link rel="icon" href="/images/foodbook_logo_400x400-150x150.jpg" sizes="32x32">
    <!-- Bootstrap core CSS -->
    <link href="/Bootstrap/css/bootstrap4.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/stylesheets/menu.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet">
    <link href="/stylesheets/allReviews.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="/stylesheets/detailReviews.css" rel="stylesheet">
    <link href="/stylesheets/loading.css" rel="stylesheet">

</head>

<body style="background-image: url('/images/home.jpg')">
<!-- Login Modal-->
<% include login %>
<% include loginAdmin %>
<!-- Navigation -->

<% include menu %>
<section id="blog-section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row" id="allReviews">
                    <div class="row" style="margin: 0px;width: 100%">
                        <div class="single" style="width: 100%;">
                            <div class="single-top">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div style="margin-bottom: 10px; margin:10px 0px 0px 20px">
                                    <span class="top-rev">Review by </span><span class="user top-rev"><img class="avatar-review" width="35px" height="35px"/></span>
                                    <span class="top-rev rate-user"><i class="fa fa-heart" aria-hidden="true"  style="margin-right: 5px;color: red"> </i></span>
                                </div>
                                <div class="lone-line info-line">
                                    <h4 class="title"></h4>
                                    <ul class="grid-blog" style="padding: 0">
                                        <li><span class="create"><i class="fa fa-calendar"> </i></span>
                                        </li>
                                        <li><span class="cmt"><i class="fa fa-comments" aria-hidden="true"> </i></span></li>
                                        <li><span class="rate"><i class="fa fa-star" aria-hidden="true"> </i></span>
                                        </li>
                                    </ul>
                                    <p class="wow fadeInLeft animated content" data-wow-delay=".5s"></p>
                                    <ul class="cate list-inline">

                                    </ul>

                                </div>
                            </div>
                            <div class="comment">
                                <h3>Comments</h3>
                            </div>
                            <div class="leave"></div>
                        </div>
                    </div>
                    <!---->
                </div>
            </div>

            <!--           // RECENT POST===========-->
            <div class="col-lg-4">
                <!--=====================
                    NEWSLATTER
             ======================-->
                <div class="widget-sidebar">
                    <h2 class="title-widget-sidebar"> SEARCH</h2>
                    <p>Help you to search some place without exactly name of that place !.</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input id="title" type="text" class="form-control" name="title" placeholder="Search">
                    </div>
                    <button type="button" class="btn btn-warning" style="width: 100%; font-family: 'north-land',sans-serif" id="searchReviewsTitle">Search
                    </button>
                </div>
                <div class="widget-sidebar">
                    <h2 class="title-widget-sidebar"> SUGGESTION</h2>
                    <div class="content-widget-sidebar">
                        <ul id="recent-post">



                        </ul>
                    </div>
                </div>

                <div class="widget-sidebar">
                    <h2 class="title-widget-sidebar"> CATEGORY</h2>
                    <div id="category"></div>
                </div>


            </div>
        </div>
    </div>
    <div class="modal"></div>
</section>

<!-- Footer -->
<% include footer %>
<!-- Bootstrap core JavaScript -->
<script src="/javascript/home/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="/javascript/home/bootstrap.min.js"></script>

<script src="/javascript/home/login.js"></script>
<script src="/javascript/home/logout.js"></script>
<script src="/javascript/detailReview.js"></script>


</body>

</html>
