<link href="/stylesheets/loading.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a href="/views/home" alt="#"> <img src="/images/foodbook_logo.png" alt="#" width="100" height="45" style="cursor: pointer"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if (cookie == null) {%>
                <li class="nav-item">
                    <a class="nav-link" id="myBtn2" style="cursor: pointer">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Admin" style="cursor: pointer">Go Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/allReviews">AllReviews</a>
                </li>
                <%} else {%>
                <li class="nav-item">
                    <a class="nav-link" href="/views/profile"  style="cursor: pointer" id="profile"><%=cookie.user.name%></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="logoutBtn">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/postReview" id="postReview">Post Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/allReviews">AllReviews</a>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>
<div class="modal"></div>