body{
    /*background-image: url("/images/tempt.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover ;*/
    background: url("/images/home.jpg");
    font-family: 'north-land', sans-serif;
}
.postReview{
    background-color: white;
    padding: 60px 30px;
}
textarea{
    height: 185px;
    width: 100%;
    padding: 20px 10px;
}
label{
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.btn-login{
    background-color: #CD5C5C;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}
.star-rating{
    line-height: 32px;
    font-size: 1.25em;
}
.star-rating .fa-star{
    color: #F39C12;
}
.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.glyphicon-ok:before {
    content: "\e013";
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.multi-select-container {
    display: inline-block;
    position: relative;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    padding: 0.4em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.multi-select-menu input {
    margin-right: 0.3em;
    vertical-align: 0.1em;
}

.multi-select-button {
    display: inline-block;
    font-size: 0.875em;
    padding: 0.2em 0.6em;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.multi-select-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;
    margin-left: 0.4em;
    vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu { display: block; }

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}
/*upload gallery*/
#formdiv {
    text-align: center;
}
#file {
    color: green;
    padding: 5px;
    border: 1px dashed #123456;
    background-color: #f9ffe5;
}
#img {
    width: 17px;
    border: none;
    height: 17px;
    margin-left: -20px;
    margin-bottom: 191px;
}
.upload {
    width: 100%;
    height: 30px;
}
.previewBox {
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}
.previewBox img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}
.delete {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 20px;
    height:  20px;
    border-radius: 50%;
    background: #ccc;
}
.img-responsive{
    width: 100%;
    height: 200px;
    padding: 10px 0px;
}
.btn-gallery{
    background-color: #9fcdff;
    border-radius: 5px;
    cursor: pointer;
}
.star-rating{
    color:red;
}
.selectpicker{
    font-family: 'north-land', sans-serif;
}
.error-re{
    color:red;
    font-style: italic;
}